/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
  1. Base Styles
  2. Navigation Bar
  3. Main Content
     a. Hero
  4. Footer
*/

/* ------------------------------------------------------- */
/* 1. Base Styles */

html {
  box-sizing: border-box;
  overflow-x:hidden;
  font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
}

/* Fonts */
@font-face {
  font-family: SonnyGothicBold;
  src: url(../typography/w-foundry-sonny-gothic-regular.otf)
}

@font-face {
  font-family: SonnyGothicReg;
  src: url(../typography/w-foundry-sonny-gothic-book.otf)
}

@font-face {
  font-family: SonnyGothicLight;
  src: url(../typography/w-foundry-sonny-gothic-light.otf)
}

/* Flex Classes */
.flexContainer {
  display: flex;
}

.mainContent {
  flex-basis: 100vw;
  max-width: 123rem;
  align-items: center;
}

/* ------------------------------------------------------- */
/* 2. Navigation Bar */

nav {
  justify-content: center;
  background-color: #f8f5ef;
}

#navContent{
  padding: 1.3rem 0 .5rem 3rem;
}

#logo {
  margin-right: 5rem;
}

#logo a img {
  width: 8rem;
}

@media (max-width: 550px) {
  #logo a img {
    width: 2.859rem;
  }
}

#menuOptions {
  padding-bottom: .7rem;
}

#menuOptions a {
  padding-left: 5rem;
  letter-spacing: .05rem;
  color: #e94033;
  font-weight: 700;
  text-decoration: none;
}

#menuOptions a:hover {
  color: #195d9f;
}

#dropdownMenu {
  position: absolute;
  top: .5rem;
  right: 2rem;
}

#dropdownMenu img {
  height: 4.358rem;
}

#closeDropdown { /* Use JavaScript to display this */
  display: none; 
}

#dropdownContent { /* Use JavaScript to display this */
  display: none;
  position: absolute;
  top: 6.358rem;
  right: 0;
  min-width: 160px;
  box-shadow: 0 .3rem .5rem 0 rgba(0,0,0,0.75);
  background-color: #f8f5ef;
  z-index: 1;
}

#dropdownContent a {
  display: block;
  padding: 1.2rem 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #195d9f;
  text-decoration: none;
  border: 1px solid #195d9f;
}

#dropdownContent a:active {
  text-decoration: underline;
}

/* JavaScript classes for Navigation Menu(Mobile) */
.show {display: block !important;} 
.hide {display: none !important;}

/* ------------------------------------------------------- */
/* 3. Main Content */

/* a. Hero Content */

#hero {
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5.2rem);
  background-image: url(../images/pique-masthead.png);
  opacity: .4;
  background-color: #eee6d7;
}

/* ------------------------------------------------------- */
/* 4. Footer */

footer {
  justify-content: center;
  background-color: #195d9f;
  height: 5rem;
}

@media (max-width: 550px) {
  footer {
    height: 12.5rem;
  }
}

#footerContent {
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: 550px) {
  #footerContent {
    padding: 2rem;
    flex-direction: column;
  }
}

#footerContent * {
  flex-shrink: 0;
}

#footerCopy {
  justify-content: center;
  align-content: center;
}

#footerCopy * {
  margin: 0 5rem 0 0;
  color: #eee6d7;
  font-size: 1.2rem;
  text-decoration: none;
}

@media (max-width: 550px) {
  #footerCopy * {
    margin: 0 1.2rem 0 1.2rem;
  }
}

#socialMedia a img {
  margin: .5rem 0 0 2rem;
  height: 3rem;
}

@media (max-width: 550px) {
  #socialMedia a img {
    margin: .5rem 1rem 0 1rem;
    height: 3rem;
  }
}


/* ------------------------------------------------------- */
/* 5. MEDIA QUERIES */

@media (max-width: 550px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 550px) {
  .mobile {
    display: none !important;
  }
}


/* Media Query Templates (Place next to relevant style) */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}