/* 1. LAYOUT */

/* Base Styles */
body {
  line-height: 1.6;
  font-family: "Sonny Gothic", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flexContainer {
  display: flex;
}

/* Navigation Bar */

nav {
  background-color: #f8f5ef;
}

#logo, #menuOptions, #dropdownMenu {
  flex-shrink: 0;
}

#logo {
  padding: 10px 20px 0px;
}

#logo a img {
  height: 2rem;
}

#bigEmptyFlexbox {
  flex-basis: 70%;
}

#menuOptions {
  padding-top: 13px;
}

#menuOptions a {
  padding-right: 70px;
  color: #e94033;
  font-weight: 700;
  text-decoration: none;
}

#menuOptions a:hover {
  color: #195d9f;
}

#smallEmptyFlexbox{
  flex-basis: 10%;
}

#dropdownMenu {
  position: relative;
  display: inline-block;
  height: 51px;
  margin: 0 5px -5px 0;
}

button {
  position: relative;
  margin: 5px;
  height: 41px;
  width: 41px;
  border-radius: 50%;
}

button img {
  position: relative;
  height: 41px;
  right: 8px;
  bottom: 3px;
}

#closeDropdown {
  display: none;
}

#dropdownContent {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block !important;}
.hide {display: none !important;}

.dropdownContent a:hover {background-color: #ddd}

@media (max-width: 550px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 550px) {
  .mobile {
    display: none !important;
  }
}

/* Media Query Templates (Place next to relevant style) */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}