/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
  1. Base Styles
  2. Navigation Bar
  3. Main Content
     a. Hero
  4. Footer
*/

/* ------------------------------------------------------- */
/* 1. Base Styles */

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  line-height: 1.6;
  font-family: SonnyGothicReg;
  font-size: 1.6rem;
  background: #eee6d7 url("../images/pique-masthead-wavy-small.png") repeat 0 0;
  -webkit-animation: slide 30s linear infinite;
}

@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -375px 0; }
}

/* Fonts */
@font-face {
  font-family: CallunaBold;
  src: url(../typography/calluna-bold.otf)
}

@font-face {
  font-family: SonnyGothicBold;
  src: url(../typography/w-foundry-sonny-gothic-regular.otf)
}

@font-face {
  font-family: SonnyGothicReg;
  src: url(../typography/w-foundry-sonny-gothic-book.otf)
}

@font-face {
  font-family: SonnyGothicLight;
  src: url(../typography/w-foundry-sonny-gothic-light.otf)
}

/* Flex Styles */
.flexContainer {
  display: flex;
  justify-content: center;
}

.flexContent {
  display: flex;
  flex: 1 0 100vw;
  max-width: 120rem;
  align-items: center;
}

.flexContent > * {
  flex-shrink: 0;
}

/* ------------------------------------------------------- */
/* 2. Navigation Bar */

#navContent{
  padding: 1.5rem 2rem 1rem;
}

@media (max-width: 550px) {
  #navContent{
    justify-content: space-between;
  }
}

#logo a img {
  margin-right: 5rem;
  width: 10rem;
}

@media (max-width: 550px) {
  #logo a img {
    width: 3.8rem;
  }
}

#menuOptions a {
  position: relative;
  text-decoration: none;  
  margin-left: 5rem;
  letter-spacing: .1rem;
  color: #195d9f;
}

#menuOptions a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: .2rem;
  left: 50%;
  position: absolute;
  background: #195d9f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#menuOptions a:hover:after { 
  width: 100%; 
  left: 0; 
}

#dropdownMenu, #dropdownMenu img {
  height: 4.5rem;
}

#closeDropdown { /* Use JavaScript to display this */
  display: none; 
}

#dropdownContent { /* Use JavaScript to display this */
  display: none;
  position: absolute;
  top: 7rem;
  right: 0;
  min-width: 160px;
  box-shadow: 0 .3rem .5rem 0 rgba(0,0,0,0.75);
  background-color: #f8f5ef;
  z-index: 1;
}

#dropdownContent a {
  display: block;
  padding: 1.2rem 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #195d9f;
  text-decoration: none;
  border: 1px solid #195d9f;
}

#dropdownContent a:active {
  text-decoration: underline;
}

/* JavaScript classes for Navigation Menu(Mobile) */
.show {display: block !important;} 
.hide {display: none !important;}

/* ------------------------------------------------------- */
/* 3. Main Content */

/* a. Hero Content */

#landing {
  overflow: hidden;
  height: calc(100vh - 5.2rem);
}

#landingContent {  
  justify-content: space-between;
  text-align: center;
  padding: 8rem 2rem;
}

@media (max-width: 1140px) {
  #landingContent {
    padding: 4rem 2rem;
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  #landingContent {
    padding: 2rem 2rem;
    flex-direction: column;
  }
}

#landingCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landingCopy h1 {
  margin: 0;
  padding: 0 0 2rem 0;
  font-family: CallunaBold;
  font-size: 6rem;
  color: #195d9f;
  line-height: 1.3;
}

@media (max-width: 550px) {
  #landingCopy h1 {
    font-size: 4rem;
  }
}

@media (max-width: 400px) {
  #landingCopy h1 {
    font-size: 3rem;
  }
}

#landingCopy p {
  margin: 0;
  font-size: 2.2rem;
}

@media (max-width: 550px) {
  #landingCopy p {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  #landingCopy p {
    font-size: 1.7rem;
  }
}

#betaButton {
  display: block;
  position: relative;
  float: left;
  width: 20rem;
  margin: 5rem 5rem 20rem;
  background: #e94033;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 6rem;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s;
}

#betaButton:hover {
  background: #cb2316;
}


/* ------------------------------------------------------- */
/* 4. Footer */

footer {
  height: 5rem;
  background-color: #195d9f;
}

@media (max-width: 550px) {
  footer {
    height: 12rem;
  }
}

#footerContent {
  padding: 0 2rem;
  justify-content: space-between;
}

@media (max-width: 550px) {
  #footerContent {
    padding: 1rem 2rem;
    flex-direction: column;
  }
}

#footerCopy {
  display: flex;
  align-items: center;
}

@media (max-width: 550px) {
  #footerCopy {
    flex-direction: column;
  }
  
  #footerCopy p, #legal {
    margin-bottom: 1rem;
  }
}

#footerCopy * {
  margin: 0 4rem 0 0;
  color: #f8f5ef;
  font-size: 1.2rem;
}

@media (max-width: 550px) {
  #footerCopy * {
    margin: 0 2rem 0 2rem;
    font-size: 1rem;
  }
}

#socialMedia a img {
  margin: 1rem 0 0 2rem;
  height: 3rem;
}

@media (max-width: 550px) {
  #socialMedia a img {
    margin: 1rem 1rem 0 1rem;
    height: 3rem;
  }
}

/* ------------------------------------------------------- */
/* 5. MEDIA QUERIES */

@media (max-width: 550px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 550px) {
  .mobile {
    display: none !important;
  }
}


/* Media Query Templates (Place next to relevant style) */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}